name: Terraform Code Quality Check

on:
  schedule:
    - cron: '00 13 * * 5'
  workflow_dispatch:
  
permissions:
  contents: read


jobs:
  checkov-scan:
    name: Terraform Static Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run checks
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          quiet: true
          soft_fail: true