name: tf-deploy-dev
env:
    environment: dev
    terraform_version: 1.6.6

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [main, feature/*, bugfix/*]
  pull_request:
    branches: [main]

jobs:
  tf-plan-dev:
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Configure aws credentials
      uses: aws-actions/configure-aws-credentials@v4.2.1
      with:
        role-to-assume: ${{secrets.AWS_ROLE_ARN}}
        role-session-name: GitHub_to_AWS_via_FederatedOIDC
        aws-region: us-east-1

    - name: Terraform Setup
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.terraform_version }}

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan (Save Output)
      run: terraform plan -var-file="env/${{ env.environment }}/variables.tfvars" -out=tfplan

    - name: Show Terraform Plan Output (with color)
      run: terraform show tfplan
    
    - name: Upload Plan Artifact
      uses: actions/upload-artifact@v4
      with:
        name: tfplan
        path: tfplan

    - name: Show all files in the zip artifacts directory
      run: ls -la zip-artifacts
    
    - name: Upload Zip Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: zip-artifacts
        path: zip-artifacts/

  tf-apply-dev:
    needs: [tf-plan-dev]
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4.2.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: us-east-1

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Terraform Init
        run: terraform init

      - name: Download Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan

      - name: Download Zip Artifacts
        uses: actions/download-artifact@v4
        with:
          name: zip-artifacts

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan