name: tf-deploy (prod)

permissions:
  id-token: write
  contents: read
  
on:
  push:
    tags: [v*]
  workflow_dispatch:
    inputs:
      apply-changes:
        description: 'Apply terraform changes (PROD) ?'
        required: true
        default: 'no'

jobs:
  tf-plan:
    uses: ./.github/workflows/tf-plan.yml
    with:
      environment: "prod"

  tf-apply:
    needs: tf-plan
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.apply-changes == 'yes' }}
    uses: ./.github/workflows/tf-apply.yml
    with:
      environment: "prod"