name: tf-destroy-dev
# runs early every morning or on manual trigger with confirmation

env:
  environment: dev
  terraform_version: 1.6.6

on:
  workflow_dispatch:
    inputs:
      confirm_destroy:
        description: "Type 'DESTROY' to confirm"
        required: true
  schedule:
    - cron: '0 10 * * *' # Daily at 10am UTC

permissions:
  id-token: write
  contents: read

jobs:
  tf-destroy:
    if: ${{ github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && github.event.inputs.confirm_destroy == 'DESTROY') }}
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_Destroy_Dev
          aws-region: us-east-1

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Terraform Init, Plan
        run: |
          terraform init
          terraform plan -destroy -var-file="env/${{ env.environment }}/variables.tfvars" -out=tfdestroy.plan

      - name: Terraform Destroy
        run: |
          export AWS_MAX_ATTEMPTS=3
          export AWS_RETRY_MODE=standard
          terraform destroy -target=aws_nat_gateway.nat
          terraform destroy -target=aws_alb.main
          terraform destroy -target=aws_internet_gateway.gw
          terraform destroy -target=aws_vpc.main
#          terraform destroy -auto-approve -var-file="env/${{ env.environment }}/variables.tfvars"