name: tf-setup-state-dev

env:
  environment: dev
  terraform_version: 1.6.6
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  tf-setup-remote-state:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: GitHub_to_AWS_Destroy_Dev
          aws-region: us-east-1

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Set up Terraform Backend
        run: |
          cd terraform-backend-setup
          terraform init
          terraform apply -auto-approve